.page-shadow{
    position: fixed;
    z-index: 99;
    background: #000;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 50%;
}
.ProfileBlock{
    z-index: 100;
    background-color: #449FFB;
    border-radius: 25px;
    /*box-shadow: 100px 2px 100vh rgb(0, 0, 0); */
    
    max-width: 500px;
    min-width: 350px;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2% 3% 3% 3%;
}
.ProfileBlock h2{
    color: #fff;
}
.ProfileBlock .close-button{ text-align: right; }
.ProfileBlock .close-button span{
    font-size: 24px;
    cursor: pointer;
}
.ProfileBlock a{color: #ffff; text-decoration: none;}
.listItem{
    font-size: 16px;
    text-align: center;
    border: 1px solid #ffff;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px 12px;
    margin-top: 30px;
    cursor: pointer;
}
.listItem:first-child{
    margin-top: 2000px; 
}

.exit{
   
    font-weight: bold;
}