.container{
    max-width: 80%; 
    margin: auto;
    display: grid;
}

.container .ReactButton{
    margin: auto;
    margin-bottom: 50px;
}
.loading{
    vertical-align: middle;
    text-align: center;
}
.loading > img{
    width: 30vh;

}

.deposit-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
    margin-bottom: 50px;
}
.deposit-info .column{
    margin-left: 50px;
}
.deposit-info .column:first-child{
    margin-left: 0px;
}

/*

input{
    font-size: 20px;
    border: 1px solid #449FFB;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px 12px;
    margin-left: 25px;
    align-items: center;
}
*/