.home-page-container{
    max-width: 80%;
    text-align: center;
    margin: auto;
}
.slideLeft, .slideRight{
    z-index: 1;
}
.home-page-container h1{
    margin-bottom: 20px;
    color: #FB4456;
}
.home-page-container h3{
    color: #449FFB;
}

.home-page-container .Carousel{
    height: 100%;
    margin: auto;
    text-align: center;
}

.home-page-container button{
    background-color: transparent;
    border: 0;
    color: #449FFB;
    font-size: 36px;
    cursor: pointer;

}
.slide-container {
    text-align: center;
    padding: 0 50px 50px 50px;
}
.slider-control-bottomcenter svg{
    width: 10px;
}
.slide-container h2, .slide-description{
    max-width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.slide-container .slide-description{
    margin-bottom: 40px;
}
.slide-container .slide-calc-description svg{
    width: 100px;
    fill: #FB4456;
}
.slide-container h3{
    margin-bottom: 10px;
}
.slide-container p{
    margin-top: 10px;
}
.slide-container span{
    margin-bottom: 10px;
}
.slide-description{margin-top: 20px;}
.slide-calcs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.slide-calcs .slide-calc p{
    max-width: 10%;
}
.slide-calcs .slide-calc span{margin: 0;}

.slide-container .slide-team {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;

}

.slide-container .slide-team .slide-team-member svg{
    width: 100px;
    fill: #404040;
    height: 100px;
}
.slide-container .slide-services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
}

.slide-container .slide-services .slide-service svg{
    height: 105px;
    font-size: 24px;
    margin-bottom: 20px;
}

.slide-container .slide-technologies{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}