.ReactButton, .ReactButton > *, .ReactButton > *:hover, .ReactButton > *:focus,
.ReactInput, .ReactInput > *, .ReactInput > *:hover, .ReactInput > *:focus,
.ReactSelect span, .ReactSelect span > *, .ReactSelect span > *:hover, .ReactSelect span > *:focus
{
    font-size: inherit;
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: none;
}
.ReactButton{
    width: 240px;
    height: 60px;
}
.ReactButton button{
    background: #FB4456;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #ffff;
    border-radius: 5px;
    
}
.ReactButton button div:hover .ReactButton div:empty, .ReactButton div{
    background: #FB4456;
    font-size: 20px;
}

.ReactInput{
    border-radius: 5px;
    margin-left: 25px;
    position: relative;
}
.ReactInput input{
    border: 1px solid #449FFB;
    padding: 15px 12px;
    font-size: 20px;
    position: relative;

}
.ReactInput:empty{
    background-color: none;
}


.ReactSelect{
    cursor: pointer;
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    font-size: 20px;
    border: 1px solid #449FFB;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px 12px;
    margin-left: 25px;
    align-items: center;

}

.ReactSelect::-webkit-scrollbar {
    width: 4px;
    background-color: #FFD2D7;
}
.ReactSelect::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #449FFB;
}
.ReactSelect::-webkit-scrollbar-track {
    background-color: #FFD2D7;
    }
.ReactSelect:hover{
    border-color: #0080ff;
}