.ReactButton, .ReactButton > *, .ReactButton > *:hover, .ReactButton > *:focus,
.ReactInput, .ReactInput > *, .ReactInput > *:hover, .ReactInput > *:focus,
.ReactSelect span, .ReactSelect span > *, .ReactSelect span > *:hover, .ReactSelect span > *:focus
{
    font-size: inherit;
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: none;
}
.ReactButton{
    width: 240px;
    height: 60px;
}
.ReactButton button{
    background: #FB4456;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #ffff;
    border-radius: 5px;
    
}
.ReactButton button div:hover .ReactButton div:empty, .ReactButton div{
    background: #FB4456;
}

.ReactInput{
    border-radius: 5px;
    margin-left: 25px;
}
.ReactInput input{
    border: 1px solid #449FFB;
    padding: 15px 12px;
    font-size: 20px;

}
.ReactInput:empty{
    background-color: none;
}

.ReactSelect{
    margin-left: 25px;
}
.ReactSelect >*{

    font-size: 20px;
}
.ReactSelect button{
    font-size: 20px;
    background-color: red;
    box-shadow: none;
    
}
.ReactSelect button:hover{
    box-shadow: none;
    background-color: red;
}
.ReactSelect button [class$="button-caption"]{
   
}
.ReactSelect button [class$="button-caption"]{
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #449FFB;
    padding: 15px 12px;
}
.ReactSelect button [class$="button-inner-shadow"]{

    background: #fff;  
    box-shadow: none;
}
.ReactSelect button [class$="button-inner-shadow"]:hover{
    background-color: red;
    box-shadow: none;

}
.ReactSelect button div:nth-child(2){
    font-size: 20px;
    background-color: red;

    
}