.table-container table{
    display: grid;
    border-collapse: collapse;
    margin-right: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 80%;
    max-height: 40vh;
    margin: auto;   
}
.table-container .wallet-table {
    
    grid-template-columns: 
        minmax(100px, 1fr)
        minmax(100px, 1fr)
        minmax(100px, 1.67fr)
        minmax(150px, 3.33fr)
        minmax(150px, 1.67fr);
    
}

.table-container .credit-table{
    grid-template-columns: 
        minmax(50px, 1fr)
        minmax(100px, 1fr)
        minmax(100px, 1.5fr)
        minmax(100px, 2fr)
        minmax(100px, 1.1fr)
        minmax(100px, 1fr)
        minmax(100px, 0.5fr);
}

.table-container .deposit-table{
    grid-template-columns: 
        minmax(100px, 1fr)
        minmax(100px, 2fr)
        minmax(100px, 0.7fr);
}
.table-container .credit-history-table{
    grid-template-columns: 
        minmax(50px, 1fr)
        minmax(100px, 1fr)
        minmax(100px, 1.5fr)
        minmax(100px, 2fr);
}
.deposit-history-table{
    grid-template-columns: 
        minmax(100px, 1fr)
        minmax(100px, 2fr)
        minmax(100px, 0.7fr);
}
.wallet-history-table{
    grid-template-columns: 
        minmax(100px, 1fr)
        minmax(100px, 2fr)
        minmax(100px, 1fr)
        minmax(100px, 2fr)
        minmax(100px, 1fr);
}
.table-container table::-webkit-scrollbar {
    width: 12px;
    background-color: #FFD2D7;
    border-radius: 10px;
    margin-right: 10px;
}
.table-container table::-webkit-scrollbar-thumb {
    border-radius: 10px;
    width: 10px;
    background-color: #FB4456;
}
.table-container table::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #FFD2D7;
    }
.table-container thead,
.table-container tbody,
.table-container tr {
    display: contents;
}

.table-container th,
.table-container td {
    padding: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-container th {
    padding: 0px 0px 0px 20px;
    position: sticky;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: #808080;
}

.table-container th {
    margin-bottom: 10px;
    border: 0;
}

.table-container td {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #1B1B1B;
    margin-top: 5px;
}

.table-container tr:nth-child(odd) td {
    background: #F3F3F3;
}
.table-container tr:nth-child(even) td {
    background: #D9D9D9;
}
.table-container a{
    color: #449FFB;
}